<h1>Calculadora De IMC </h1>

<div class="text">

    <h3> Digite seu peso e sua altura</h3>

    <label for="peso">Digite seu peso:</label>
    <input type="number" [(ngModel)]="peso" placeholder="Seu peso">
    <br><br>
    <label for="altura">Digite a sua altura:</label>
    <input type="number" [(ngModel)]="altura" placeholder="Seu altura">
    <br><br>
    <button class="btn btn-primary" (click)="calc()">Calcular</button>
    <br>
    {{imc}} 
    <br>
    <div >
    {{resu}}
    </div>
</div>
